
body {
  background: radial-gradient(circle, rgba(245,225,234,1) 0%, rgba(148,187,233,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  
  }

h1 {
  text-align: center;
  font-family: Mochiy Pop P One;
  padding: 50px;
  }

ul{
  list-style-type: none;
  }

.Cards {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  }

.card1{
/*  
   background-image: url("https://media.istockphoto.com/photos/neon-lighting-glowing-speech-bubble-on-black-brick-wall-picture-id1305035773?b=1&k=20&m=1305035773&s=170667a&w=0&h=0-_D34a2z8VfpYKTPMEoJ3Bru5Ksgi2sM2IaHPXYpvQ=") ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; */
  margin: 5px;
  padding: 5px;
  margin: auto;
  margin-bottom: 50px;
  height: 270px;
  width: 250px;
/* New changes for flip..............................  */
transform-style: preserve-3d;
transition: all 0.5s ease;
}

.adviceImage{
  /* background-image: url("https://source.unsplash.com/random"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  width: 90px;
  border: 1px solid yellow;
  border-radius: 50px;
  margin-inline: 80px;
  /* padding-bottom: ; */
  margin-top: 20px;
  
}
li:hover{
  
  /* transform:scale3d(90deg) ; */
  cursor: pointer;
  /* opacity: 100%; */
  /* new changes for flip.............  */
  transform: rotateY(180deg);
}
h3{
  font-family:Mochiy Pop P One;
  margin:0;
  padding-inline: 40px;
  margin-top: 10px;
  color: #310f3f;
  
}
#adviceString{
  font-family: rubik;
  /* font:bolder; */
  font-size: 18px;
  padding: 50px 10px 5px;
  margin: auto;
  margin-bottom: 15px;
  align-items: center;
  color: #000000;
  font-weight: bold;
  
}

/* New changes for flip eeffect..............  */
.front{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: none; 
  border-radius: 20px; 
  background-color:#d6e4e6;
  background-image: url("https://giphy.com/embed/UVUcc3wWXbGxwczbYg");
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
.back{
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 25px;
  backface-visibility: hidden;
  background-color: #95c2f5;
  transform:rotateY(180deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px solid black;
  border-radius: 20px;
  }
